body { 
    margin:auto;
    font-family: sans-serif;
    position:relative;
    background-image: var(--bs-gradient);
}
table{
    position: relative;
    align-self: center;
}
form{
    align-self: center;
}