{% extends 'base.html' %}

{%block head %}
<title>Helping Hands</title>
{% endblock %}

{% block body %}
<div class="album py-5  bg-primary bg-gradient">
    <div class="container bg-primary bg-gradient">
        <div class="row bg-primary bg-gradient">
            {% for task in tasks %}
            <div class="col-md-4 bg-primary bg-gradient">
                <div class="card mb-4 box-shadow ">
                    
                    <img class="card-img-top" data-src="" alt="" style="height: 225px; width: 100%; display: block;" src="{{task.store_img}}" align="middle" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">{{task.content}}</p>
                        <address>{{task.straddy}}</address>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            
                            <button onclick="myFunction()" type="button" class="btn btn-sm btn-outline-secondary" href ='/update/{{task.id}}'>Edit</button>
                          </div>
                          <small class="text-muted">{{ task.data_created.date() }}</small>
                        </div>
                      </div>
                </div>
                <script>
                    function myFunction() {
                      location.replace("/update/{{task.id}}")
                    }
                    </script>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock  %}