{% extends 'base.html' %}

{%block head %}
<title>Helping Hands</title>
{% endblock %}

{% block body %}
<div class="content form-floating">
    <h1 style="text-align: center;">Recent Stores</h1>
    {% if tasks|length <1 %}
    <h4>NO options Avaible</h4>
    {% else %}
    <table style="align-self: center;" class="table table-dark">
        <tr>

            <th>Image</th>
            <th>img2</th>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>
                    
                    <img  align="middle" data-holder-rendered="true" style="height: 100px; width: 20em%; display: block;" src="{{url_for('static', filename='test.jpg')}}">
                </td>
                <td>
                    <img src={{task.img}}>
                    
                </td>
                <td> {{task.content}} </td>
                <td> {{task.data_created.date()}} </td>
            <td></td>
            <td>
                <a href ='/delete/{{task.id}}'>Delete</a>
                <br>
                <a href ='/update/{{task.id}}'>update</a>
            </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form  class="form-group form-floating" action="/"method="POST">
        
        <input type="text" name="content" id="content" placeholder="whats the address">
        
        
        <input type="text" name="addy" id="addy" placeholder="What do you have">
        <input type="submit" name="add" id="add">

    </form>
</div>>
{% endblock %}